{% extends "index.html" %}
{% block content %}
{% include "publicheader.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-1"></div>
    <div class="col-md-11 padding-none">
        <h1>{{item.name}}</h1>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form action="#" method = "post">
            <div class="form-group">
                <label for="description">Description:</label>
                <p>{{item.description}}</p>
                <p><span class="badge badge-info">{{category.name}}</span></p>

                <a href = "{{url_for('showCategoryItems', category_name = category.name)}}">
                    back to all {{category.name}} items
                </a>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}