.category-list {
    background-color: #F0F0F0;
    padding: 20px;
}
.category-list:hover {
    background-color: #e1e17f;
    padding: 20px;
}
.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}